body{
    background-color:#383D58;
    color:white;
}
.cabecalho{
    background-color:#383D58;
color:white;
display: flex;
}justify-content:space-around;
img.cabecalho-imagem{
    img/Captura de tela_2024-08-02_11-10-20.png
}